*{
    margin: 0px;
}
/*header part*/
.header{
    height: 100px;
    width: auto;
    background: black;
    display: flex;
}

.leftside-nav{
    display: flex;
    align-items: center;
    margin-left:15px; 
}

.logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: black;
}

.leftside-nav>p{
    color: white;
    padding-left: 10px;
    margin-top: 10px;
}

.rightside-nav{
    color: white;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.rightside-nav>p{
    margin: 10px;
}

.rightside-nav>p:hover{
    background-color: white;
    color: black;
}

/*2nd part*/

.background{
    background-image: url(background.jpg);
    background-size: cover;
    height: 500px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-left: 40PX;
    padding-top: 40PX;
}

.background>P{
    margin-top: 20PX;
}

button{
    margin-top: 20PX;
    background-color: black;
    color: white;
}

button:hover{
    background-color: white;
    color: black;
    margin-bottom: auto;
}

/*third part*/

.footer{
    height: auto;
    width: auto;
    background: gray;
    margin: 0;
}

.footer>p{
    text-align: center;
    padding-top: 10px;
}

div>img{
    padding: 20px;
    padding-top: 20px;
}

.footer>div{
    display: flex;
    justify-content: center;
}